@import url('http://fonts.cdnfonts.com/css/gagalin');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    min-height: 100vh;
    /* background: rgb(255, 255, 255); */
    background: url(../assets/image.png);
    overflow: hidden;   
}

.list{
    position: absolute;
    height: 100vh;
    width: 490px;
    right: 0;
    text-align: right;
    z-index: 110;   
    letter-spacing: 2px;
    background: #111;
}
.title{
    position: relative;
    top: 0px;
    padding-top: 25px;
    right: 30px;
    z-index: 101;
    display: inline-block;
    font-family: Gagalin;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    color: #FFFFFF;

    /* non select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;    
}
.title:hover{
    transition: 1s;
    color:rgb(0, 162, 255);
}
.title:after {
    transition: 1s;
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    bottom: -10px;
    visibility: hidden;
    background-color:rgb(0, 162, 255);
    -webkit-transition: all .2s ease;
    transition: all 0.5s ease;  
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    z-index: 103;
}

.title:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.line{
    position: relative;
    top: 50px;
    height: 10px;
    width: 490px;
    color: white;
    background-color: white;
}
p{
    width: 450px;
    display: none;
    position: relative;
    top: 100px;
    left: 20px;
    font-family: Gagalin;
    font-size: 42px;
    z-index: 112;
    color: white;
    text-align: left;

}

h1{
    animation: blur 1s ease-out;
    animation-delay: 300ms;
    font-size: 106px;
}
h2{
    font-size: 75px;
    animation: blur 1s ease-out;
    animation-delay: 500ms;
}
h3{
    font-size: 64px;
    animation: blur 1s ease-out;
    animation-delay: 600ms;
}
h4{
    font-size: 63px;
    animation: blur 1s ease-out;
    animation-delay: 800ms;
}
h5{
    font-size: 54px;
    animation: blur 1s ease-out;
    animation-delay: 1s;
}
img{
    position: absolute;
    z-index: 107;
    padding: 10px 10px 10px 40px;
    height: 1000px;
    width: 1800px;
}
video{
    z-index: 106;
    padding: 10px 10px 10px 40px;
    height: 1000px;
    width: 1800px;
}

h1:hover~.p1{
    display: flex;
    animation: blur .5s;
}


@keyframes blur {
    from {
        text-shadow:
        0px 0px 10px #fff,
        0px 0px 10px #fff, 
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 25px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #fff,
        0px 0px 50px #7B96B8,
        0px 0px 150px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px 10px 100px #7B96B8,
        0px -10px 100px #7B96B8,
        0px -10px 100px #7B96B8;
    }
  }