@import url('http://fonts.cdnfonts.com/css/gagalin');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body{
    min-height: 100vh;
    /* background: rgb(255, 255, 255); */
    background: url(../assets/image.png);
    overflow: hidden;   
}

.list{
    position: absolute;
    height: 100vh;
    width: 490px;
    right: 0;
    text-align: right;
    z-index: 110;   
    letter-spacing: 2px;
    background: #111;
}
.title{
    display:none;
    position: relative;
    top: 0px;
    padding-top: 25px;
    right: 30px;
    z-index: 101;
    font-family: Gagalin;
    font-style: normal;
    font-weight: normal;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;

    /* non select */
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    -khtml-user-select: none;   
    -moz-user-select: none;     
    -ms-user-select: none;      
    user-select: none;    
}
.title:hover{
    transition: 1s;
    color:rgb(0, 162, 255);
}
.title:after {
    transition: 1s;
    border-radius: 50%;
    content: '';
    position: absolute;
    height: 10px;
    width: 100%;
    left: 0;
    bottom: -10px;
    visibility: hidden;
    background-color:rgb(0, 162, 255);
    -webkit-transition: all .2s ease;
    transition: all 0.5s ease;  
    -webkit-transform: scaleX(0);
    -ms-transform: scaleX(0);
    transform: scaleX(0);
    z-index: 103;
}

.title:hover:after {
  visibility: visible;
  -webkit-transform: scaleX(1);
  -ms-transform: scaleX(1);
  transform: scaleX(1);
}

.line{
    position: relative;
    top: 30px;
    height: 10px;
    width: 490px;
    color: white;
    background-color: white;
}
p{
    width: 450px;
    display: none;
    position: relative;
    top: 60px;
    left: 20px;
    font-family: Gagalin;
    font-size: 38px;
    z-index: 112;
    color: white;
    text-align: left;

}

h1{
    font-size: 106px;
    animation: blur .75s ease-out;
    animation-delay: 300ms;
}
h2{
    font-size: 75px;
    animation: blur .75s ease-out;
    animation-delay: 500ms;
}
h3{
    font-size: 64px;
    animation: blur .75s ease-out;
    animation-delay: 600ms;
}
h4{
    font-size: 63px;
    animation: blur .75s ease-out;
    animation-delay: 800ms;
}
h5{
    font-size: 54px;
    animation: blur .75s ease-out;
    animation-delay: 1s;
}
img{
    position: absolute;
    z-index: 107;
    padding: 10px 10px 10px 40px;
    height: 750px;
    width: 1370px;
}
video{
    z-index: 106;
    padding: 10px 10px 10px 40px;
    height: 750px;
    width: 1350px;
}

h1:hover~.p1{
    display: flex;
    animation: blur .5s ease-out;
}

h2:hover~.p2{
    display: flex;
    animation: blur .5s ease-out;
}

h3:hover~.p3{
    display: flex;
    animation: blur .5s ease-out;
}

h4:hover~.p4{
    display: flex;
    animation: blur .5s ease-out;
}

h5:hover~.p5{
    display: flex;
    animation: blur .5s ease-out;
}


@keyframes blur {
    from{
        filter: blur(40px);
    }
    to{
        filter: blur(0px);
    }
}   
@media (max-width: 700px){
    video{
        display: none;
    }
    body{
        background: #111;
    }
    img{
        display: none;
    }
    h1{
    font-size: 60px;
    animation: blur .75s ease-out;
    animation-delay: 300ms;
}
h2{
    font-size: 55px;
    animation: blur .75s ease-out;
    animation-delay: 500ms;
}
h3{
    font-size: 48px;
    animation: blur .75s ease-out;
    animation-delay: 600ms;
}
h4{
    font-size: 42px;
    animation: blur .75s ease-out;
    animation-delay: 800ms;
}
h5{
    font-size: 37px;
    animation: blur .75s ease-out;
    animation-delay: 1s;
}
.title{
    position: relative;
    text-align: center;
    top: 25px;
    right: 0;
    left: 0;
    z-index: 101;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #FFFFFF;
}
.line{
    display: none;
}

}